<body>
    <div class="header">
        <div class="header-top">
            <div class="wrap">
                <div class="banner-no">
                    <img src="images/banner-no.png" alt=""/>
                </div>
                <div class="nav-wrap">
                    <ul class="group" id="example-one">
                    <li class="current_page_item">
                        <a href="#" ng-click="mc.signIn()" ng-if="!mc.user.isSignedOn"><i class=""></i> {{> loginButtons}}</a>
                    </li>
                    </ul>

                    
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="wrap">
            <div class="h-logo">
                <a href="index.html"><img src="images/logo.png" alt=""/></a>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="banner">
        <div class="wrap">
            <section class="slider">
            <div class="flexslider">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                {{#each movies}}
                <div class="item {{#if isFirst}}active{{/if}}">     
                    <img class="img-responsive" src="{{banner}}" alt="title" style="width:100%;">
                </div>
                {{/each}}
                
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
            </div>
            </section>
        </div>
    </div>

    <div class="content" id="portfolio">
        <div class="wrap">
        <div class="content-top">
            <div class="col-md-3">
                <h3>Blockbuster Movies</h3>
                <div class="form-group" ng-if="mc.user.isSignedOn">
                <button class="btn {{#if isaddnewmovie}}btn-success {{else}} btn-default {{/if}} add-newmovie"><i class=" glyphicon  {{#if isaddnewmovie}}  glyphicon-plus {{else}} glyphicon-circle-arrow-left {{/if}}"></i> {{#if isaddnewmovie}}Add New Movie {{else}} Cancel {{/if}}</button>
                </div>
                {{#each movies}}
                 <div class="content-left form-group"> 
                    <a href="#" class="selectMovie" value="rom">
                        <div class="listimg listimg_1_of_2">
                        <img src="{{frame}}" alt="title"/>
                        </div>
                        <div class="text list_1_of_2">
                            <div class="extra-wrap">
                            <div class="data">{{showingdate}}</div>
                            <a href="#" class="color"><strong>{{title}}</strong></a><br>
                            <span class="text-top">{{desc}}</span>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </a>
                </div>
                {{/each}}
                <a href="#" class="link2">See all</a>
            </div>
            <div class="col-md-9">
                <br><br><br><br>
                <div class="container col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Seats</div>
                    <div class="panel-body text-center">
                    
                    {{#if isaddnewmovie}}
                     <div>
                        {{#each movieperseats}}
                        <div class="col">
                            <button type="button" class="btn reserved-seat {{#if status}} btn-success {{/if}}">{{seatNo}}</button>
                        </div>
                        {{/each}}
                    </div> 
                    {{else}}
                    <form class="newMovie">
                        <div class="row">
                            <div class="col-md-10">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12 text-left">Title</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12 form-group">
                                        <input type="text" name="title" class="form-control col-md-7 col-xs-12 title" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12 text-left">Brief Summary</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12 form-group">
                                        <textarea type="text" name="description" class="form-control col-md-7 col-xs-12 description" required></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12 text-left">Showing Date</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12 form-group">
                                        <input type="date" name="showingdate" class="form-control col-md-7 col-xs-12 showingdate" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12 text-left">Capacity</label>
                                    <div class="col-md-9 col-sm-4 col-xs-12 form-group">
                                    <input type="number" name="capacity" class="form-control col-md-7 col-xs-12 capacity" required>
                                    </div>
                                </div>

                                
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12 text-left">Banner</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12 form-group">
                                        <!-- https://images-na.ssl-images-amazon.com/images/M/MV5BMjI2NjI2MDQ0NV5BMl5BanBnXkFtZTgwMTc1MjAwMjI@._V1_UX182_CR0,0,182,268_AL_.jpg -->
                                        <input type="text" name="banner" class="form-control col-md-7 col-xs-12" placeholder="Please input image url" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12 text-left">Frame Photo</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12 form-group">
                                        <input type="text" name="frame" class="form-control col-md-7 col-xs-12" placeholder="Please input image url" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-1" ng-show="vm.response.status">
                                <div class="text-center" ng-class="{'alert alert-success':vm.response.status == 200,'alert alert-danger':vm.response.status != 200}" ng-bind="vm.response.message">
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <button type="button" class="btn btn-default cancel-newmovie">Cancel</button>
                        </div>
                    </form>
                    {{/if}}

                    </div>
                </div>
                </div>
            </div>
            <div class="clear"></div>   
        </div>
        </div>
    </div>

    <div class="footer">
        <div class="wrap">
            <div class="footer-top">
            <div class="col_1_of_4 span_1_of_4">
                <div class="textcontact">
                <p>8/10, Upper McKinley Building, <br>
                10 Upper McKinley Rd<br>
                Ph: +63 90000000.<br>
                Email:rommelp@google.com<br>
                </p>
                </div>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <div class="call_info">
                <p class="txt_3">Call us toll free:</p>
                <p class="txt_4">1 800 000 00000</p>
                </div>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <div class=social>
                <a href="#"><img src="images/fb.png" alt=""/></a>
                <a href="#"><img src="images/tw.png" alt=""/></a>
                <a href="#"><img src="images/dribble.png" alt=""/></a>
                <a href="#"><img src="images/pinterest.png" alt=""/></a>
                </div>
            </div>
            <div class="clear"></div>
            </div>
        </div>
        </div>
        <div ng-controller="CheckoutCtrl">
        
        </div>
        <div class="footer-bottom">
        <div class="wrap">
        <div class="copy">
        
        </div>
        </div>
    </div>
</body>